.fe__refinement-badge {
  border-radius: 0;
  cursor: pointer;

  &.fe__refinement-badge:first-child {
    // overrides bootstrap margin for first child
    margin-left: 0 !important;
  }
}

.fe__current-refinement-button--inverse {
  color: $white;
}
