.suggestions {
  position: absolute;
  background: white;
  margin-top: auto;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.suggestion-item {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 10px;
  padding: 8px;
  color: #000;
  font-size: 75%;
  white-space: pre-wrap;

  &:hover {
    color: white;
    background-color: #000000;
    text-decoration: none;
  }

  &:hover span {
    color: white;
  }

  em {
    font-weight: bold;
    font-style: normal;

    &:hover {
      color: white;
    }

    &:not(:first-child) {
      margin-left: 4px; // add space between _highlightResult.title.value hits
    }
  }

  div {
    display: flex;
  }

  .authoring-org-badge {
    line-height: 1.5;
  }

  .program-type {
    font-size: .9rem;
    margin-bottom: 0px;
  }

}

.prequery-item {
  margin: 5px 0px;
  color: #000;
  white-space: pre-wrap;

  &:hover {
    color: white;
    background-color: #000000;
    text-decoration: none;
  }

  &:hover span {
    color: white;
  }
}

.prequery-image {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  object-fit: cover;
  border-radius: 0 !important;
}

.suggestion-heading {
  color: #707070 !important
}

.view-all-btn {
  color: #000;
  border-radius: 0px;

  &:hover {
    color: #000;
  }
}

.suggestions-section {
  color: #707070;
  font-size: .9rem;
}