.fe__searchfield {
  border-radius: 0 !important;
}

.pgn__form-group input {
  margin-top: 10px;
  display: inline-block !important;
  border-radius: 0px;
}

.pgn__form-group button {
  display: inline-block !important;
  margin-left: 8px;
  margin-top: 10px;
  border-radius: 0px;
}
