name: CI


on: [pull_request]

jobs:
  tests:
    if: "!(github.actor == 'github-actions[bot]') "
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: GitHub Action for npx
      uses: mikeal/npx@1.0.0
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # pulls all commits (needed for lerna / semantic release to correctly version)
        fetch-depth: 0
    # pulls all tags (needed for lerna / semantic release to correctly version)
    - name: Pull All Git Tags
      run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
    - name: Setup Nodejs
      uses: actions/setup-node@v3
      with:
        node-version: 16
    # lerna expects to be authenticated for publishing to NPM. This step will fail CI if NPM is not
    # authenticated, even though this build does _not_ attempt to publish, as an extra check before merge
    # that Lerna is set to publish.
    - name: Check NPM authentication
      run: |
        echo "//registry.npmjs.org/:_authToken=${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN }}" >> .npmrc
        npm whoami
    - name: Install and Setup Dependencies
      run: npm ci
    # build must come before running linting and tests for the `dist` directory to exist.
    - name: Build
      run: npm run build
    - name: Lint
      run: npm run lint
    - name: Test
      run: npm run test
    - name: Coverage Report
      uses: codecov/codecov-action@v3
    - name: Preview Updated Versions (dry run)
      # switch from detatched head to a real branch so we can pass it to `--allow-branch`
      run: |
        git switch -c "actual-branch-not-detached-head"
        npx lerna init
        npx lerna version --allow-branch actual-branch-not-detached-head --no-git-tag-version --no-changelog --no-push --yes